{% load static%}

<html>
    <title>
        JI Course Search and Evaluation System
    </title>
    <body>
        <h1>
            Welcome to <span style = "font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: deeppink;">JI Course Search and Evaluation System</span>
        </h1>
        <p>
            Hello, this is a course search and evalutation website for JI courses.
        </p>
        <p>
            Please see my Github <a href = "https://www.github.com/TaikiShuttle"><b>TaikiShuttle</b></a> for more information
        </p>
        <p>For course search, please enter here <button type="button"><a href = "/course_search">Go to course search site</a></button></p>
        <p>For course evalutation, please enter here <button type = "button"><a href = "/course_eva">Go to course evalutation site</a></button></p>
    </body>
</html>